#ss{
    width: 6.2em;
    height: 2em;
    background-color:rgba (0,0,0);
    border-radius: 0.5em;
    border-width: 0.1em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#tt{
    width: 6.2em;
    height: 2em;
    color:white;
    background-color: #000000;
    border-color: #ca1010;
    border-radius: 0.5em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button{
    width: 12.5em;
    background-color:#490bd8;
    border-radius: 0.5em;
}
label{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}