h1{
     text-align: center;
}


body{
    background-color: red;
}


img{
    width: 300px;
        margin: auto;
       
}


p{
    color: rgb(0, 255, 217);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}





 